In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import os,sys
import utils
import matplotlib.pyplot as plt

In [2]:
df = pd.read_hdf('data.h5','df_sub')

In [3]:
df.Year.describe()

count    2.179764e+07
mean     2.006755e+03
std      4.302078e-01
min      2.006000e+03
25%      2.007000e+03
50%      2.007000e+03
75%      2.007000e+03
max      2.007000e+03
Name: Year, dtype: float64

In [4]:
df.columns

Index(['Station ID', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Second',
       'Time since the epoch [s]', 'Sequence Number', 'Ambient Temperature',
       'Surface Temperature', 'Relative Humidity [%]'],
      dtype='object')

In [5]:
# 统计 每一列 Nan的个数,百分比
print("na_percent:\t valid_nums \t column_name")
dfs = df
for column in dfs.columns:
    # print(column,dfs[column].isna().sum())
    na_num = dfs[column].isna().sum()
    total_num = dfs[column].shape[0]
    print("{1:.3f}%: \t {2} \t {0}".format(column,na_num*100/total_num,total_num-na_num))

na_percent:	 valid_nums 	 column_name
0.000%: 	 21797635 	 Station ID
0.000%: 	 21797635 	 Year
0.000%: 	 21797635 	 Month
0.000%: 	 21797635 	 Day
0.000%: 	 21797635 	 Hour
0.000%: 	 21797635 	 Minute
0.000%: 	 21797635 	 Second
0.000%: 	 21797635 	 Time since the epoch [s]
0.000%: 	 21797635 	 Sequence Number
4.087%: 	 20906717 	 Ambient Temperature
1.802%: 	 21404777 	 Surface Temperature
4.015%: 	 20922440 	 Relative Humidity [%]

In [6]:
df = df.drop(['Ambient Temperature','Relative Humidity [%]','Ambient Temperature'],axis=1)

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21797635 entries, 0 to 1268693
Data columns (total 10 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Station ID                int64
 1   Year                      int64
 2   Month                     int64
 3   Day                       int64
 4   Hour                      int64
 5   Minute                    int64
 6   Second                    int64
 7   Time since the epoch [s]  int64
 8   Sequence Number           int64
 9   Surface Temperature       float64
dtypes: float64(1), int64(9)
memory usage: 1.8 GB

In [ ]:
# 4-1 -> 4-8
sub_df = df[(df['Time since the epoch [s]'] > 1175356800)  & (df['Time since the epoch [s]'] < 1175961600)]
print("total \t na_num \t name")
for column in sub_df.columns:
    total = sub_df[column].shape[0]
    na_num = sub_df[column].isna().sum()
    print("{0} \t {1} \t {2}".format(total,na_num,column))

Error: Jupyter cannot be started. Error attempting to locate jupyter: Data Science library notebook is not installed in interpreter Python 3.8.1 64-bit ('ksvd': conda).

In [10]:
# 3-1 -> 3-8
sub_df = df[(df['Time since the epoch [s]'] > 1172678400)  & (df['Time since the epoch [s]'] < 1173283200)]
print("total \t na_num \t name")
for column in sub_df.columns:
    total = sub_df[column].shape[0]
    na_num = sub_df[column].isna().sum()
    print("{0} \t {1} \t {2}".format(total,na_num,column))

total 	 na_num 	 name
982779 	 0 	 Station ID
982779 	 0 	 Year
982779 	 0 	 Month
982779 	 0 	 Day
982779 	 0 	 Hour
982779 	 0 	 Minute
982779 	 0 	 Second
982779 	 0 	 Time since the epoch [s]
982779 	 0 	 Sequence Number
982779 	 15146 	 Surface Temperature

In [11]:
sub_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 982779 entries, 318785 to 777358
Data columns (total 10 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Station ID                982779 non-null  int64
 1   Year                      982779 non-null  int64
 2   Month                     982779 non-null  int64
 3   Day                       982779 non-null  int64
 4   Hour                      982779 non-null  int64
 5   Minute                    982779 non-null  int64
 6   Second                    982779 non-null  int64
 7   Time since the epoch [s]  982779 non-null  int64
 8   Sequence Number           982779 non-null  int64
 9   Surface Temperature       967633 non-null  float64
dtypes: float64(1), int64(9)
memory usage: 102.5 MB

In [13]:
sub_df.to_hdf('data.h5',key='march_df',mode='a')

In [14]:
# 2-1 -> 2-8
sub_df = df[(df['Time since the epoch [s]'] > 1170259200)  & (df['Time since the epoch [s]'] < 1170864000)]
print("total \t na_num \t name")
for column in sub_df.columns:
    total = sub_df[column].shape[0]
    na_num = sub_df[column].isna().sum()
    print("{0} \t {1} \t {2}".format(total,na_num,column))

total 	 na_num 	 name
920893 	 0 	 Station ID
920893 	 0 	 Year
920893 	 0 	 Month
920893 	 0 	 Day
920893 	 0 	 Hour
920893 	 0 	 Minute
920893 	 0 	 Second
920893 	 0 	 Time since the epoch [s]
920893 	 0 	 Sequence Number
920893 	 21371 	 Surface Temperature