In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import os,sys
import utilities
import matplotlib.pyplot as plt
from numpy import array
from multiprocessing import Pool
import multiprocessing as mp
from consts import sensor_lat as lat
from consts import sensor_log as log
from consts import valid_sensor_res_10 as valid_sensor_list
from consts import valid_sensor_res_10_old as valid_sensor_list_old
from consts import sensor_day_seconds as day_seconds
from consts import sensor_week_seconds as week_seconds 
from consts import sensor_start_time_unix as start_time
from consts import sensor_end_time_unix as end_time
from consts import sensor_epoch_length as epoch_length
from consts import sensor_optimal_time_interval as optimal_time_interval
from consts import sensor_loc_pic as loc_pic
from consts import sensor_drop_list as drop_list
import consts
import time
import pickle
import copy
import h5py

In [3]:
time_stamp = np.arange(start_time,end_time+optimal_time_interval,optimal_time_interval)
unix_column = 'Time since the epoch [s]'
idd = 'Station ID'
a_temperature = 'Ambient Temperature'
s_temperature = 'Surface Temperature'

In [6]:
df = pd.read_hdf('optimal_period.h5','optimal_df')

In [7]:
df

,Station ID,Year,Month,Day,Hour,Minute,Second,Time since the epoch [s],Sequence Number,Ambient Temperature,Surface Temperature,Relative Humidity [%]
319633,8,2007,3,1,0,0,27,1172703627,35250,8.10,7.350,81.956
319634,8,2007,3,1,0,0,56,1172703656,35251,8.18,7.350,81.257
319635,8,2007,3,1,0,1,25,1172703685,35252,8.20,7.537,81.141
319636,8,2007,3,1,0,1,55,1172703715,35253,8.20,7.412,81.788
319637,8,2007,3,1,0,2,24,1172703744,35254,8.12,7.350,83.592
...,...,...,...,...,...,...,...,...,...,...,...,...
777546,121,2007,3,7,17,30,33,1173285033,41669,10.23,11.350,67.417
777547,121,2007,3,7,17,30,43,1173285043,41670,10.26,11.412,66.656
777548,121,2007,3,7,17,30,52,1173285052,41671,10.27,11.350,66.795
777549,121,2007,3,7,17,31,2,1173285062,41672,10.28,11.225,66.906
777550,121,2007,3,7,17,31,12,1173285072,41673,10.26,11.412,66.711

In [5]:
df.to_hdf('optimal_period.h5',key='optimal_df')

In [15]:
data_index = ['a_temperature_mean','a_temperature_std','a_temperature_array','sub_df_list_optimal_index','time_stamp',]

In [16]:
with h5py.File('dataset.hdf5','r') as f:
     a_temperature_mean = f[data_index[0]][:]
     a_temperature_std = f[data_index[1]][:]
     a_temperature_array = f[data_index[2]][:]
     sub_df_list_optimal_index = f[data_index[3]][:]
     time_stamp = f[data_index[4]][:]

In [10]:
df_dict = {'rb_optimal':5959,'optimal':5959,'df_list':20160}

In [23]:
def dataset_write(data_list,key,df_dict=df_dict):
    filename = 'ds_'+key+'.h5'
    store = pd.HDFStore(filename)
    for i,item in enumerate(data_list):
        store[key+'_'+str(i)] = item
    store.close()
    return 1

In [11]:
def dataset_read(key,df_dict=df_dict):
    filename = 'ds_'+key+'.h5'
    return_list = []
    store = pd.HDFStore(filename)
    for i in range(df_dict[key]):
        return_list.append(store[key+'_'+str(i)])
    store.close()
    return return_list

In [ ]:
dataset_write(rb_sub_df_list_optimal,'rb_optimal')

In [ ]:
dataset_write(sub_df_list_optimal,'optimal')

In [ ]:
dataset_write(sub_df_list,'df_list')

In [13]:
rb_sub_df_list_optimal = dataset_read('rb_optimal')

30453            39295                10.31
 147579                1172830461            19322                 9.74
 192833                1172830445            19337                10.22
 731710                1172830449            60657                15.50

         Surface Temperature  Relative Humidity [%]
 323934                9.475                 65.287
 287399               13.225                 66.064
 329176                7.912                 69.427
 326465               14.975                 62.941
 296281               10.350                 67.943
 330212               13.850                 65.825
 344725               15.600                 67.542
 298217               14.225                 63.646
 308271                8.787                 70.077
 328830                8.100                 67.318
 328739               25.225                 65.467
 291245                9.850                 67.165
 326294               11.287                 66.953
 263041               12.725                 67.110
 272925               11.412                 65.010
 229250               16.350                 68.695
 192447               13.600                 69.346
 290884               13.350                 64.709
 78129                14.975                 67.595
 178198               14.225                 70.042
 175470               13.225                 68.003
 306381                9.475                 70.898
 286588               15.412                 63.171
 177858               13.350                 67.070
 279983               15.350                 62.389
 182146               14.100                 69.202
 245485               11.537                 69.061
 246701               15.037                 73.204
 245141               15.537                 69.897
 273467               13.912                 70.073
 264047               15.662                 67.934
 272748               15.225                 71.084
 275295               14.600                 76.537
 271880               15.725                 72.312
 298831               14.787                 68.238
 284226               13.600                 70.660
 272893               13.912                 67.144
 256681               13.537                 66.550
 292206               10.850                 70.523
 262754               16.663                 69.090
 268221               13.850                 72.200
 147579               13.725                 71.562
 192833               12.162                 69.687
 731710               27.163                 56.335  ,
         Station ID  Year  Month  Day  Hour  Minute  Second  \
 323935           8  2007      3    2    11      14      41
 287400          11  2007      3    2    11      14      30
 329177          14  2007      3    2    11      14      41
 326466          17  2007      3    2    11      14      43
 296282          19  2007      3    2    11      14      44
 330213          23  2007      3    2    11      14      43
 344726          26  2007      3    2    11      14      58
 298218          31  2007      3    2    11      14      45
 308272          33  2007      3    2    11      14      41
 328831          34  2007      3    2    11      14      40
 328740          35  2007      3    2    11      14      46
 291246          40  2007      3    2    11      14      38
 326295          46  2007      3    2    11      14      35
 263042          49  2007      3    2    11      14      58
 272926          51  2007      3    2    11      14      38
 229251          57  2007      3    2    11      14      54
 192448          59  2007      3    2    11      14      53
 290885          60  2007      3    2    11      14      51
 78130           61  2007      3    2    11      14      42
 178199          62  2007      3    2    11      14      31
 175471          65  2007      3    2    11      14      49
 306382          69  2007      3    2    11      14      56
 286589          70  2007      3    2    11      14      30
 177859          71  2007      3    2    11      14      43
 279984          72  2007      3    2    11      14      32
 182147          75  2007      3    2    11      14      42
 245486          76  2007      3    2    11      14      32
 246702          79  2007      3    2    11      14      46
 245142          80  2007      3    2    11      14      37
 273468          81  2007      3    2    11      14      47
 264048          84  2007      3    2    11      14      32
 272749          87  2007      3    2    11      14      32
 275296          88  2007      3    2    11      14      47
 271881          89  2007      3    2    11      14      53
 298832          93  2007      3    2    11      14      39
 284227          96  2007      3    2    11      14      57
 272894          97  2007      3    2    11      14      40
 256682          98  2007      3    2    11      14      34
 292207         100  2007      3    2    11      14      45
 262755         103  2007      3    2    11      14      38
 268222         104  2007      3    2    11      14      43
 147580         109  2007      3    2    11      14      50
 192834         111  2007      3    2    11      14      35
 731713         121  2007      3    2    11      14      38

         Time since the epoch [s]  Sequence Number  Ambient Temperature  \
 323935                1172830481            39580                10.32
 287400                1172830470            36613                 9.94
 329177                1172830481            37379                 9.82
 326466                1172830483            13522                11.10
 296282                1172830484            49142                 9.92
 330213                1172830483            17036                10.88
 344726                1172830498            63753                11.14
 298218                1172830485             5452                10.90
 308272                1172830481            36386                 9.87
 328831                1172830480            53030                 9.74
 328740                1172830486            13479                10.34
 291246                1172830478            19576                10.37
 326295                1172830475            46161                11.03
 263042                1172830498            19359                10.78
 272926                1172830478            37222                10.31
 229251                1172830494            22338                10.70
 192448                1172830493               87                 9.88
 290885                1172830491             2209                11.06
 78130                 1172830482            22471                10.68
 178199                1172830471            23185                10.47
 175471                1172830489            11601                 9.90
 306382                1172830496             5986                 9.64
 286589                1172830470            19362                11.10
 177859                1172830483            31885                10.82
 279984                1172830472             4532                10.74
 182147                1172830482            23194                10.14
 245486                1172830472            58632                10.54
 246702                1172830486            33617                11.65
 245142                1172830477            18693                10.66
 273468                1172830487            11268                10.93
 264048                1172830472            36603                11.26
 272749                1172830472            39267                 9.92
 275296                1172830487             1908                10.04
 271881                1172830493            39278                10.89
 298832                1172830479            33678                10.84
 284227                1172830497            22560                10.42
 272894                1172830480            31876                11.00
 256682                1172830474             1902                10.28
 292207                1172830485            36639                10.14
 262755                1172830478            13444                10.64
 268222                1172830483            39296                10.59
 147580                1172830490            19323                 9.71
 192834                1172830475            19338                10.00
 731713                1172830478            60660                15.76

         Surface Temperature  Relative Humidity [%]
 323935                9.725                 66.502
 287400               12.912                 65.165
 329177                7.912                 68.832
 326466               15.475                 63.662
 296282               10.100                 65.687
 330213               14.412                 66.271
 344726               15.475                 65.181
 298218               14.100                 63.234
 308272                8.787                 66.914
 328831                8.037                 66.316
 328740               25.288                 64.651
 291246                9.725                 66.538
 326295               10.912                 64.771
 263042               13.037                 67.353
 272926               11.162                 63.752
 229251               16.413                 68.969
 192448               13.725                 70.928
 290885               13.100                 68.657
 78130                15.037                 67.307
 178199               14.287                 66.886
 175471               13.287                 68.226
 306382                9.350                 71.385
 286589               15.037                 64.084
 177859               13.287                 66.701
 279984               15.412                 64.022
 182147               13.850                 68.514
 245486               11.537                 67.828
 246702               14.725                 68.304
 245142               15.787                 69.850
 273468               14.850                 72.769
 264048               15.850                 69.182
 272749               15.162                 71.042
 275296               14.787                 72.488
 271881               16.038                 72.551
 298832               14.537                 65.960
 284227               14.037                 72.327
 272894               14.100                 69.538
 256682               13.725                 68.052
 292207               11.037                 71.508
 262755               16.538                 68.688
 268222               14.037                 73.329
 147580               13.725                 71.108
 192834               12.162                 68.920
 731713               27.288                 53.890  ,
         Station ID  Year  Month  Day  Hour  Minute  Second  \
 323936           8  2007      3    2    11      15      11
 287402          11  2007      3    2    11      15      28
 329178          14  2007      3    2    11      15      10
 326467          17  2007      3    2    11      15      12
 296283          19  2007      3    2    11      15      13
 330214          23  2007      3    2    11      15      12
 344727          26  2007      3    2    11      15      27
 298219          31  2007      3    2    11      15      15
 308273          33  2007      3    2    11      15      10
 328832          34  2007      3    2    11      15       9
 328741          35  2007      3    2    11      15      15
 291247          40  2007      3    2    11      15       7
 326296          46  2007      3    2    11      15       4
 263043          49  2007      3    2    11      15      27
 272927          51  2007      3    2    11      15       7
 229252          57  2007      3    2    11      15      23
 192449          59  2007      3    2    11      15      22
 290886          60  2007      3    2    11      15      20
 78131           61  2007      3    2    11      15      12
 178200          62  2007      3    2    11      15       0
 175472          65  2007      3    2    11      15      19
 306383          69  2007      3    2    11      15      26
 286590          70  2007      3    2    11      15       0
 177860          71  2007      3    2    11      15      13
 279985          72  2007      3    2    11      15       1
 182148          75  2007      3    2    11      15      11
 245487          76  2007      3    2    11      15       1
 246703          79  2007      3    2    11      15      15
 245143          80  2007      3    2    11      15       7
 273469          81  2007      3    2    11      15      16
 264049          84  2007      3    2    11      15       1
 272750          87  2007      3    2    11      15       1
 275297          88  2007      3    2    11      15      16
 271882          89  2007      3    2    11      15      22
 298833          93  2007      3    2    11      15       8
 284228          96  2007      3    2    11      15      26
 272895          97  2007      3    2    11      15       9
 256683          98  2007      3    2    11      15       3
 292208         100  2007      3    2    11      15      14
 262756         103  2007      3    2    11      15       7
 268223         104  2007      3    2    11      15      12
 147581         109  2007      3    2    11      15      20
 192835         111  2007      3    2    11      15       4
 731716         121  2007      3    2    11      15       7

         Time since the epoch [s]  Sequence Number  Ambient Temperature  \
 323936                1172830511            39581                10.20
 287402                1172830528            36615                10.20
 329178                1172830510            37380                 9.76
 326467                1172830512            13523                10.76
 296283                1172830513            49143                 9.78
 330214                1172830512            17037                10.93
 344727                1172830527            63754                11.32
 298219                1172830515             5453                11.15
 308273                1172830510            36387                10.04
 328832                1172830509            53031                 9.60
 328741                1172830515            13480                10.50
 291247                1172830507            19577                10.10
 326296                1172830504            46162                11.43
 263043                1172830527            19360                10.70
 272927                1172830507            37223                10.40
 229252                1172830523            22339                10.80
 192449                1172830522               88                 9.54
 290886                1172830520             2210                11.22
 78131                 1172830512            22472                10.83
 178200                1172830500            23186                10.10
 175472                1172830519            11602                 9.97
 306383                1172830526             5987                 9.80
 286590                1172830500            19363                11.60
 177860                1172830513            31886                10.74
 279985                1172830501             4533                11.08
 182148                1172830511            23195                10.28
 245487                1172830501            58633                10.70
 246703                1172830515            33618                11.68
 245143                1172830507            18694                10.62
 273469                1172830516            11269                10.98
 264049                1172830501            36604                10.80
 272750                1172830501            39268                 9.91
 275297                1172830516             1909                 9.92
 271882                1172830522            39279                10.68
 298833                1172830508            33679                10.74
 284228                1172830526            22561                10.12
 272895                1172830509            31877                11.34
 256683                1172830503             1903                10.42
 292208                1172830514            36640                10.16
 262756                1172830507            13445                10.89
 268223                1172830512            39297                10.47
 147581                1172830520            19324                 9.55
 192835                1172830504            19339                10.30
 731716                1172830507            60663                15.74

         Surface Temperature  Relative Humidity [%]
 323936                9.600                 64.460
 287402               13.037                 64.989
 329178                8.162                 68.092
 326467               15.037                 62.843
 296283               10.162                 65.883
 330214               14.225                 65.810
 344727               16.100                 64.430
 298219               14.475                 63.615
 308273                8.912                 69.519
 328832                8.037                 65.437
 328741               25.475                 65.596
 291247                9.662                 65.719
 326296               11.350                 69.213
 263043               13.037                 65.908
 272927               10.975                 64.076
 229252               16.413                 67.739
 192449               13.850                 69.879
 290886               13.350                 66.635
 78131                14.850                 67.225
 178200               14.037                 67.829
 175472               13.225                 68.185
 306383                9.225                 71.098
 286590               15.537                 62.956
 177860               13.537                 67.181
 279985               15.787                 62.897
 182148               14.037                 68.215
 245487               11.787                 69.643
 246703               15.287                 68.908
 245143               15.912                 69.655
 273469               14.662                 69.911
 264049               15.100                 68.988
 272750               15.225                 70.616
 275297               14.600                 70.671
 271882               16.100                 69.747
 298833               14.662                 66.274
 284228               13.350                 70.256
 272895               14.225                 69.683
 256683               13.787                 68.593
 292208               11.287                 71.618
 262756               16.788                 69.517
 268223               14.162                 71.281
 147581               13.537                 71.525
 192835               12.537                 69.568
 731716               27.225                 53.030  ,
 ...]